@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------------------------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #727272;
}

h2 {
  margin-top: 100px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: black;
}

.button {
  padding: 1em 3em;
  text-transform: uppercase;

  line-height: 26px;
  text-align: center;
  color: white;
  letter-spacing: 0.1em;
  background: #34547a;
}

/*-----------------------------------------------------------------------------*/

.main-menu {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding: 0 auto;
  background-color: #eeeff1;
}

.main-menu__menu {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.main-menu__menu-item {
  margin-left: 42px;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: black;
  text-transform: uppercase;
}

.main-menu__menu-item:first-child {
  margin-left: 0;
  color: #34547a;
  font-weight: 500;
}

/*-----------------------------------------------------------------------------*/

.design {
  display: flex;
  justify-content: center;
  background-color: #eeeff1;
  padding: 140px 0;
  text-align: left;
}

.design__title {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: black;
}

.design__paragraph {
  max-width: 540px;
  font-size: 16px;
  line-height: 26px;
  margin: 60px auto;
  color: #727272;
}

.design__screen {
  width: 357px;
  height: 233.7px;
  margin-right: 130px;
  align-self: center;
}

.button_big-font {
  font-size: 16px;
}
/*-----------------------------------------------------------------------------*/

.about-me {
  text-align: center;
}

.about-me__title {
  margin-top: 91px;
}

.about-me__paragraph {
  max-width: 540px;
  margin: 50px auto 100px auto;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

/*-----------------------------------------------------------------------------*/

.projects {
  display: flex;
  justify-content: space-around;
  padding: 100px auto;
  background-color: #34547a;
}

.projects__item {
  padding: 100px 0;
  display: flex;
  color: white;
}

.project__item-icon {
  margin-right: 20px;
}

.projects__item-text {
  padding-top: 10px;
  text-align: left;
}

.projects__item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 21px;
}

.project__item-description {
  margin-bottom: 0;
  font-size: 16px;
}

/*-----------------------------------------------------------------------------*/

.skills {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.skills-level {
  margin-right: 75px;
}

.skills-level__title {
  margin-bottom: 50px;
}

.skills_skill-name {
  line-height: 26px;
  display: inline;
}

.skills__progress {
  width: 445px;
  height: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.skills__progress::-webkit-progress-bar {
  background: #c4c4c4;
}

.skills__progress::-webkit-progress-value {
  background: #34547a;
}

.skills__avatar {
  max-width: 555px;
  max-height: 455px;
  margin-left: 75px;
}

/*-----------------------------------------------------------------------------*/

.my-work {
  padding: 0 5% 100px 5%;
  text-align: center;
}

.my-work__title {
  margin-top: 100px;
  margin-bottom: 50px;
}

.my-work__paragraph {
  max-width: 540px;
  margin: 50px auto 57px auto;
  font-size: 16px;
  line-height: 26px;
}

.my-work__video {
  position: relative;
  display: block;
  max-width: 1110px;
  max-height: 600px;
  margin: 0 auto 100px auto;
}

.my-work__video-play {
  width: 100%;
}

.my-work__video-button {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.my-work__video-icon {
  width: 15%;
}

/*-----------------------------------------------------------------------------*/

.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery__items {
  position: relative;
  display: flex;
  justify-content: center;
}

.gallery__item1 {
  width: 100%;
}

.gallery__item2 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  background: url(images/EYE.svg) no-repeat rgba(52, 84, 122, 0.8);
  background-position: center;
}

.gallery__items:hover .gallery__item2 {
  display: block;
}

/*-----------------------------------------------------------------------------*/

.contact {
  padding: 100px 0 100px 0;
  text-align: center;
  background: #eeeff1;
}

.contact__title {
  margin-top: 0;
}

.contact__paragraph {
  max-width: 540px;
  margin: 50px auto 65px auto;
}

.contact__input {
  width: 255px;
  height: 50px;
  padding-left: 20px;
  color: #5f5d5d;
}

.contact__input:first-child {
  margin-right: 30px;
}

.contact__textarea {
  display: block;
  width: 540px;
  height: 175px;
  padding-left: 20px;
  padding-top: 17px;
  margin: 20px auto 50px auto;
  color: #5f5d5d;
}

.button_small-font {
  font-size: 14px;
}

/*-----------------------------------------------------------------------------*/

.footer {
  display: flex;
  justify-content: space-around;
  padding: 50px 0 50px 0;
  color: white;
  background-color: #34547a;
}

.footer__text {
  display: block;
}

.footer__name {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__social {
  align-self: center;
  padding: 9px 0;
}

.footer__social-item:nth-child(2) {
  margin: 0 22px 0 22px;
}

/*-----------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 1279px) {
  p {
    width: 85%;
    line-height: 120%;
  }

  /*-----------------------------------------------------------------------------*/

  .main-menu {
    justify-content: flex-start;
    padding-top: 0;
  }

  .main-menu__logo {
    margin-left: 22px;
    margin-top: 22px;
  }

  .main-menu__menu {
    display: none;
  }

  /*-----------------------------------------------------------------------------*/

  .design {
    flex-direction: column;
    justify-content: center;
    padding: 60px 0 95px 0;
    text-align: center;
  }

  .design__title {
    margin-top: 50px;
    color: black;
    font-size: 36px;
    line-height: 100%;
  }

  .design__paragraph {
    width: 80%;
    margin: 44px auto;
    font-size: 16px;
    line-height: 26px;
  }

  .design__screen {
    width: 275px;
    align-self: center;
    height: 188px;
    margin-right: 0;
  }

  /*-----------------------------------------------------------------------------*/

  .projects {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    padding: 75px auto;
    background-color: #34547a;
  }

  .projects__item {
    padding: 45px 0;
    margin: 0 auto;
  }

  /*-----------------------------------------------------------------------------*/

  .skills {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    padding: 100px 0;
  }

  .skills-level {
    margin: 0 auto;
  }

  .skills-level__title {
    margin-bottom: 42px;
    margin-top: 98px;
    text-align: center;
  }

  .skills_skill-name {
    line-height: 26px;
  }

  .skills__avatar {
    margin: 0 auto;
    width: 80%;
  }

  .skills__progress {
    width: 266px;
  }

  /*-----------------------------------------------------------------------------*/

  .my-work__title {
    margin-top: 93px;
    margin-bottom: 34px;
  }

  /*-----------------------------------------------------------------------------*/

  .gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  /*-----------------------------------------------------------------------------*/
  .contact__paragraph {
    margin-top: 34px;
    margin-bottom: 48px;
  }

  .contact__input {
    width: 80%;

    padding-left: 20px;
    margin: 0 auto 20px auto;
    display: block;
  }

  .contact__input:first-child {
    margin-right: auto;
  }

  .contact__textarea {
    width: 80%;
    margin: 0 auto 50px auto;
  }

  /*-----------------------------------------------------------------------------*/

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer__text {
    margin-bottom: 30px;
  }

  /*-----------------------------------------------------------------------------*/
}
