@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*-----------------------------------------------------------------------------*/

body {
  font-family: "Roboto", sans-serif;
  color: #727272;
}
header {
  display: flex;
  background-color: #eeeff1;
  padding-top: 50px;
  padding: 0 auto;
  justify-content: space-around;
}

nav {
  font-size: 16px;
  letter-spacing: 0.1em;
}

a {
  margin-left: 42px;

  font-size: 16px;
  letter-spacing: 0.1em;
  color: black;
  text-transform: uppercase;
}
a:first-child {
  margin-left: 0;
  color: #34547a;
  font-weight: 500;
}
.design {
  display: flex;
  justify-content: center;
  background-color: #eeeff1;
  padding: 140px 0;
}
h1 {
  color: black;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}

.design__paragraph {
  max-width: 540px;
  font-size: 16px;
  line-height: 26px;
  margin: 60px auto;
  color: #727272;
}
button {
  width: 225px;
  height: 65px;
  color: white;
  background: #34547a;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
}

.design__screen {
  width: 357px;
  height: 233.7px;
  margin-right: 130px;
  align-self: center;
}

.about-me {
  text-align: center;
}
h2 {
  padding-top: 120px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  color: black;
}
.about-me__paragraph {
  margin: 50px auto 100px auto;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  max-width: 540px;
}

.projects {
  background-color: #34547a;
  padding: 100px auto;
  display: flex;
  justify-content: space-around;
}

.projects__item {
  padding: 100px 0;
  display: flex;
  color: white;
}

.projects__item__text {
  padding-top: 10px;
}

.projects__item__text p {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
.projects__item__text p span {
  font-size: 16px;
  line-height: 26px;
}

.my-work {
  text-align: center;
  padding: 100px auto;
}
.my-work p {
  max-width: 540px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 26px;
}
.my-work__video {
  background: url(images/Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 1110px;
  height: 600px;
  display: block;
  margin: 0 auto;
  padding: auto;
}
.my-work__video__play {
  margin: auto;
}
